*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@-webkit-keyframes typing {
    0% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -webkit-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@-moz-keyframes typing {
    0% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -moz-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

<!-- IE10 -->
@-ms-keyframes typing {
    0% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -ms-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@keyframes typing {
    0% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@-webkit-keyframes blink-caret {
    0% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -webkit-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    86% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    93% {
        -webkit-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }

    100% {
        -webkit-transform: scale(1); background: rgb(0, 183, 229); color: #fff;
    }
}

@-moz-keyframes blink-caret {
    0% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -moz-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    86% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    93% {
        -moz-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }

    100% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@-ms-keyframes blink-caret {
    0% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -ms-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    86% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    93% {
        -ms-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }

    100% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@keyframes blink-caret {
    0% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    86% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    93% {
        transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }

    100% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}



@-webkit-keyframes doubleA {
    0% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -webkit-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    21% {
        -webkit-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    28% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        -webkit-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@-moz-keyframes doubleA {
    0% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -moz-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    21% {
        -moz-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    28% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        -moz-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@-ms-keyframes doubleA {
    0% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        -ms-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    21% {
        -ms-transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    28% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        -ms-transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}

@keyframes doubleA {
    0% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    7% {
        transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    14% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
    
    21% {
        transform: scale(0.8); 
        background: #fff; 
        color: rgb(0, 183, 229);
    }
    
    28% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }

    100% {
        transform: scale(1); 
        background: rgb(0, 183, 229); 
        color: #fff;
    }
}


@-webkit-keyframes showLetterS {
    0% {
        color:rgb(0, 183, 229);
    }
    
    6% {
        color:rgb(0, 183, 229);
    }
    
    7% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterS {
    0% {
        color:rgb(0, 183, 229);
    }
    
    6% {
        color:rgb(0, 183, 229);
    }
    
    7% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterS {
    0% {
        color:rgb(0, 183, 229);
    }
    
    6% {
        color:rgb(0, 183, 229);
    }
    
    7% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterP {
    0% {
        color:rgb(0, 183, 229);
    }
    
    13% {
        color:rgb(0, 183, 229);
    }
    
    14% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterP {
    0% {
        color:rgb(0, 183, 229);
    }
    
    13% {
        color:rgb(0, 183, 229);
    }
    
    14% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterP {
    0% {
        color:rgb(0, 183, 229);
    }
    
    13% {
        color:rgb(0, 183, 229);
    }
    
    14% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterI {
    0% {
        color:rgb(0, 183, 229);
    }
    
    20% {
        color:rgb(0, 183, 229);
    }
    
    21% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterI {
    0% {
        color:rgb(0, 183, 229);
    }
    
    20% {
        color:rgb(0, 183, 229);
    }
    
    21% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterI {
    0% {
        color:rgb(0, 183, 229);
    }
    
    20% {
        color:rgb(0, 183, 229);
    }
    
    21% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterR {
    0% {
        color:rgb(0, 183, 229);
    }
    
    27% {
        color:rgb(0, 183, 229);
    }
    
    28% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterR {
    0% {
        color:rgb(0, 183, 229);
    }
    
    27% {
        color:rgb(0, 183, 229);
    }
    
    28% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterR {
    0% {
        color:rgb(0, 183, 229);
    }
    
    27% {
        color:rgb(0, 183, 229);
    }
    
    28% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterO {
    0% {
        color:rgb(0, 183, 229);
    }
    
    34% {
        color:rgb(0, 183, 229);
    }
    
    35% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterO {
    0% {
        color:rgb(0, 183, 229);
    }
    
    34% {
        color:rgb(0, 183, 229);
    }
    
    35% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterO {
    0% {
        color:rgb(0, 183, 229);
    }
    
    34% {
        color:rgb(0, 183, 229);
    }
    
    35% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterM {
    0% {
        color:rgb(0, 183, 229);
    }
    
    48% {
        color:rgb(0, 183, 229);
    }
    
    49% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterM {
    0% {
        color:rgb(0, 183, 229);
    }
    
    48% {
        color:rgb(0, 183, 229);
    }
    
    49% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterM {
    0% {
        color:rgb(0, 183, 229);
    }
    
    48% {
        color:rgb(0, 183, 229);
    }
    
    49% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterE {
    0% {
        color:rgb(0, 183, 229);
    }
    
    55% {
        color:rgb(0, 183, 229);
    }
    
    56% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterE {
    0% {
        color:rgb(0, 183, 229);
    }
    
    55% {
        color:rgb(0, 183, 229);
    }
    
    56% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterE {
    0% {
        color:rgb(0, 183, 229);
    }
    
    55% {
        color:rgb(0, 183, 229);
    }
    
    56% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterT {
    0% {
        color:rgb(0, 183, 229);
    }
    
    62% {
        color:rgb(0, 183, 229);
    }
    
    63% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterT {
    0% {
        color:rgb(0, 183, 229);
    }
    
    62% {
        color:rgb(0, 183, 229);
    }
    
    63% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterT {
    0% {
        color:rgb(0, 183, 229);
    }
    
    62% {
        color:rgb(0, 183, 229);
    }
    
    63% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterA1 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    69% {
        color:rgb(0, 183, 229);
    }
    
    70% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterA1 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    69% {
        color:rgb(0, 183, 229);
    }
    
    70% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterA1 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    69% {
        color:rgb(0, 183, 229);
    }
    
    70% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterX {
    0% {
        color:rgb(0, 183, 229);
    }
    
    76% {
        color:rgb(0, 183, 229);
    }
    
    77% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterX {
    0% {
        color:rgb(0, 183, 229);
    }
    
    76% {
        color:rgb(0, 183, 229);
    }
    
    77% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterX {
    0% {
        color:rgb(0, 183, 229);
    }
    
    76% {
        color:rgb(0, 183, 229);
    }
    
    77% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterA2 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    83% {
        color:rgb(0, 183, 229);
    }
    
    84% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterA2 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    83% {
        color:rgb(0, 183, 229);
    }
    
    84% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterA2 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    83% {
        color:rgb(0, 183, 229);
    }
    
    84% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}


@-webkit-keyframes showLetterS2 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    92% {
        color:rgb(0, 183, 229);
    }
    
    93% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@-moz-keyframes showLetterS2 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    92% {
        color:rgb(0, 183, 229);
    }
    
    93% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

@keyframes showLetterS2 {
    0% {
        color:rgb(0, 183, 229);
    }
    
    92% {
        color:rgb(0, 183, 229);
    }
    
    93% {
        color:#fff;
    }

    100% {
        color:#fff;
    }
}

/*body { font-family: Consolas, monospace; }*/
/* START */
/*body{
	background: #333 url("../images/blurry-mountain.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: "Open Sans",sans-serif;
	margin: 0;
	padding: 0;
}*/

.loader-wrap{
    background:rgb(0, 183, 229);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99999;
}

.loader{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
    vertical-align: middle;
}

@media(max-width:767px) {
    .letter {
        background: rgb(0, 183, 229);
        color: #fff;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
    }

    .outline {
        background: #fff;
        color: #fff;
        text-align: center;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        vertical-align: middle;
        margin-left:auto;
        margin-right:auto;
        padding-top:0px;
        margin-left:2.5px;
        display:inline-block;
    }
    
    .spaceBar {
        background: rgb(0, 183, 229);
        color: #fff;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        width: 200px;
        height: 20px;
        border-radius: 5px;


        margin-left:auto;
        margin-right:auto;
        /*margin-top:auto;
        margin-bottom:auto;*/
        display:inline-block;
    }

    .spaceBarOutline {
        background: #fff;
        color: #fff;
        text-align: center;
        width: 205px;
        height: 25px;
        border-radius: 5px;
        vertical-align: middle;

        margin-left:auto;
        margin-right:auto;
        padding-top:2.5px;

        margin-left:2.5px;
        /*margin-top:auto;
        margin-bottom:auto;*/
        display:inline-block;
    }
    
    .nameText {
        display:inline-block;
        min-width:10px;
        color: #fff;
        margin-bottom: 2%;
        font-size: 20px;
        font-family: "Lucida Console", Monaco, monospace;
    }
}

@media(min-width:767px) {
    .letter {
        background: rgb(0, 183, 229);
        color: #fff;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
    }

    .outline {
        background: #fff;
        color: #fff;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        vertical-align: middle;
        margin-left:auto;
        margin-right:auto;
        padding-top:5px;
        margin-left:5px;
        display:inline-block;
    }
    
    .spaceBar {
        background: rgb(0, 183, 229);
        color: #fff;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        width: 400px;
        height: 50px;
        border-radius: 5px;


        margin-left:auto;
        margin-right:auto;
        /*margin-top:auto;
        margin-bottom:auto;*/
        display:inline-block;
    }

    .spaceBarOutline {
        background: #fff;
        color: #fff;
        text-align: center;
        width: 410px;
        height: 60px;
        border-radius: 5px;
        vertical-align: middle;

        margin-left:auto;
        margin-right:auto;
        padding-top:5px;

        margin-left:5px;
        /*margin-top:auto;
        margin-bottom:auto;*/
        display:inline-block;
    }
    
    .nameText {
        display:inline-block;
        min-width:10px;
        color: #fff;
        margin-bottom: 2%;
        font-size: 50px;
        font-family: "Lucida Console", Monaco, monospace;
    }
}

.letterRow {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display: inline-block;
    width:100%;
    margin-bottom:5px;
    vertical-align: middle;
}

.keyboard {
    margin-top:15%;
}

.loadingText {
    display:inline-block;
    min-width:10px;
    color: rgba(255, 255, 255, 0.54);
    margin-bottom: 2%;
    margin-top:3%;
    font-size: 30px;
    font-family: "Lucida Console", Monaco, monospace;
}

.letterRowText {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display: inline-block;
    width:100%;
    margin-bottom:5px;
    vertical-align: middle;
}
/* END */

/*h1 { 
    font-size:150%;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    
    -webkit-animation: typing 17s infinite linear;
    -moz-animation: typing 17s infinite linear; 
}

h2 {
    color: #f00;
    background-color: #192fd6;
    -webkit-animation: blink-caret 17s infinite linear;
    -moz-animation: blink-caret 17s infinite linear;
    -webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
}*/

.pressE {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 1.75s;
	-moz-animation-delay: 1.75s;
    -ms-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.pressR {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.pressT {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 2.0s;
	-moz-animation-delay: 2.0s;
    -ms-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

.pressI {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.pressO {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
    -ms-animation-delay: 1.0s;
    animation-delay: 1.0s;
}

.pressP {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
    -ms-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.pressS {
    -webkit-animation: blink-caret 3.5s infinite linear;
    -moz-animation: blink-caret 3.5s infinite linear;
    -ms-animation: blink-caret 3.5s infinite linear;
    animation: blink-caret 3.5s infinite linear;
    -webkit-animation-delay: 0.0s;
	-moz-animation-delay: 0.0s;
    -ms-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.pressA {
    -webkit-animation: doubleA 3.5s infinite linear;
    -moz-animation: doubleA 3.5s infinite linear;
    -ms-animation: doubleA 3.5s infinite linear;
    animation: doubleA 3.5s infinite linear;
    -webkit-animation-delay: 2.25s;
	-moz-animation-delay: 2.25s;
    -ms-animation-delay: 2.25s;
	animation-delay: 2.25s;
}

.pressX {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.pressM {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.pressSpace {
    -webkit-animation: typing 3.5s infinite linear;
    -moz-animation: typing 3.5s infinite linear;
    -ms-animation: typing 3.5s infinite linear;
    animation: typing 3.5s infinite linear;
    -webkit-animation-delay: 1.25s;
	-moz-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.typeS {
    -webkit-animation: showLetterS 3.5s infinite linear;
    -moz-animation: showLetterS 3.5s infinite linear;
    animation: showLetterS 3.5s infinite linear;
}

.typeP {
    -webkit-animation: showLetterP 3.5s infinite linear;
    -moz-animation: showLetterP 3.5s infinite linear;
    animation: showLetterP 3.5s infinite linear;
}

.typeI {
    -webkit-animation: showLetterI 3.5s infinite linear;
    -moz-animation: showLetterI 3.5s infinite linear;
    animation: showLetterI 3.5s infinite linear;
}

.typeR {
    -webkit-animation: showLetterR 3.5s infinite linear;
    -moz-animation: showLetterR 3.5s infinite linear;
    animation: showLetterR 3.5s infinite linear;
}

.typeO {
    -webkit-animation: showLetterO 3.5s infinite linear;
    -moz-animation: showLetterO 3.5s infinite linear;
    animation: showLetterO 3.5s infinite linear;
}

.typeM {
    -webkit-animation: showLetterM 3.5s infinite linear;
    -moz-animation: showLetterM 3.5s infinite linear;
    animation: showLetterM 3.5s infinite linear;
}

.typeE {
    -webkit-animation: showLetterE 3.5s infinite linear;
    -moz-animation: showLetterE 3.5s infinite linear;
    animation: showLetterE 3.5s infinite linear;
}

.typeT {
    -webkit-animation: showLetterT 3.5s infinite linear;
    -moz-animation: showLetterT 3.5s infinite linear;
    animation: showLetterT 3.5s infinite linear;
}

.typeA1 {
    -webkit-animation: showLetterA1 3.5s infinite linear;
    -moz-animation: showLetterA1 3.5s infinite linear;
    animation: showLetterA1 3.5s infinite linear;
}

.typeX {
    -webkit-animation: showLetterX 3.5s infinite linear;
    -moz-animation: showLetterX 3.5s infinite linear;
    animation: showLetterX 3.5s infinite linear;
}

.typeA2 {
    -webkit-animation: showLetterA2 3.5s infinite linear;
    -moz-animation: showLetterA2 3.5s infinite linear;
    animation: showLetterA2 3.5s infinite linear;
}

.typeS2 {
    -webkit-animation: showLetterS2 3.5s infinite linear;
    -moz-animation: showLetterS2 3.5s infinite linear;
    animation: showLetterS2 3.5s infinite linear;
}